@font-face {
    font-family: normal;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: light;
    src: url(../fonts/Poppins-Light.ttf);
}

*{
    user-select: none;
}

:root{
    --black-color: rgb(20, 20, 20);
    --white-color: rgba(231, 231, 231, 0.863);
    --red-color: rgba(196, 54, 54, 0.911);
    --active-voice: rgba(245, 97, 97, 0.418);
    --grey-color: rgba(102, 102, 102, 0.144);
    --gren-color: rgba(122, 202, 85, 0.37);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.interfaz-bank{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container-bank{
    display: flex;
    justify-content: center;
    width: 60vw;
    height: 30vw;
    background-color: var(--black-color);
    box-shadow: 0 0 .25vw var(--black-color);
    border-radius: 1vw;
    overflow: hidden;
    z-index: 4444;
}

.categories{
    opacity: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 14vw;
    float: left;
    background-color: var(--grey-color);
    animation: fadeInLeft .35s .25s forwards;
}

.title-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25%;
}

.title-nav img{
    width: 10vw;
    height: 10vw;
    scale: .7;
    filter: drop-shadow(0 0 .25vw rgba(196, 54, 54, 0.911));
}

.container-categories{
    border-top: .1vw solid rgba(128, 128, 128, 0.11);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 75%;
}

.item-categories{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: .35vw;
    font-family: light;
    color: var(--white-color);
    padding: .5vw;
    background-color: rgba(119, 119, 119, 0.137);
    box-shadow: 0 0 .5vw rgba(0, 0, 0, 0.055);
    border-radius: .15vw;
    text-transform: uppercase;
    letter-spacing: .1vw;
    font-size: .7vw;
    transition: .25s;
}

.item-categories:hover{
    cursor: pointer;
    opacity: .6;
}

.item-categories:active{
    scale: .8;
}

.selected{
    background-color: var(--red-color);
    box-shadow: 0 0 .25vw var(--red-color);
}

.container-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1vw;
}

.title-info{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: normal;
    color: rgba(255, 255, 255, 0.199);
    width: 100%;
    height: 4vw;
    font-size: .7vw;
    border-bottom: .1vw solid rgba(128, 128, 128, 0.11);
    animation: fadeInDown .35s .25s forwards;
}

.item-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    border-right: .1vw solid rgba(128, 128, 128, 0.404);
    padding: .5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: .25vw;
}

.item-header i{
    color: grey;
    font-size: .8vw;
}

.item-header:nth-child(5){
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    border: none;
}

.item-header:nth-child(5) i{
    color: rgba(255, 255, 255, 0.74);
    background-color: var(--red-color);
    box-shadow: 0 0 .25vw var(--red-color);
    padding: .6vw .8vw;
    border-radius: .5vw;
    font-size: .8vw;
    transition: .25s;
}

.item-header:nth-child(5) i:hover{
    cursor: pointer;
    opacity: .6;
}

.container-home{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.container-cards{
    display: flex;
    align-items: center;
    width: 46vw;
    background-color: rgba(255, 255, 255, 0.034);
    height: 25%;
    border-radius: .25vw;
    padding: .25vw;
    overflow: hidden;
    animation: fadeInDown .25s;
}

.container-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 46vw;
    height: 3.5vw;
    padding: .25vw;
    animation: fadeInUp .25s;
}

.button{
    width: 18%;
    background-color: rgba(201, 47, 47, 0.11);
    font-family: normal;
    padding: .5vw;
    border-radius: .5vw;
    color: var(--white-color);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2vw;
    font-size: .85vw;
    transition: .25s;
}

.button-selected{
    background-color: var(--red-color);
    box-shadow: 0 0 .3vw var(--red-color);
}

.button:hover{
    cursor: pointer;
    opacity: .8;
    transform: translateY(-.5vw);
}

.container-functions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 50%;
    gap: 1vw;
}

.container-item-functions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    height: 90%;
    padding: .25vw;
    border-radius: .5vw;
    background-color: rgba(41, 40, 40, 0.24);
}

.container-item-functions input{
    width: 60%;
    font-family: light;
    background-color: rgba(172, 28, 28, 0.151);
    border: .11vw solid rgba(128, 128, 128, 0.171);
    border-radius: .25vw;
    color: rgb(175, 174, 174);
    padding: .25vw;
    outline: none;
    font-size: .65vw;
    animation: fadeInDown .25s;
}

.container-item-functions .button-functions{
    position: relative;
    width: 40%;
    text-align: center;
    padding: .25vw;
    background-color: var(--red-color);
    border-radius: .25vw;
    color: rgb(175, 174, 174);
    font-family: normal;
    font-size: .7vw;
    letter-spacing: .1vw;
    opacity: .6;
    transition: .2s ease-in-out;
    text-transform: uppercase;
    z-index: 1;
}

.item-pin{
    font-family: light;
    color: grey;
}

.button-functions:hover{
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 0 .3vw var(--red-color);
}

.item-card{
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 80%;
    background-color: rgba(172, 28, 28, 0.274);
    box-shadow: 0 0 .25vw rgba(172, 28, 28, 0.274);
    color: rgb(175, 174, 174);
    margin: 0 .5vw;
    border-radius: .5vw;
    font-family: normal;
    padding: .35vw;
    animation: fadeIn .3s .3s forwards;
}

.money-card{
    font-size: 1.2vw;
    font-weight: bold;
    letter-spacing: .1vw;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name-card{
    margin-top: .25vw;
    font-size: .8vw;
    text-transform: uppercase;
    font-family: light;
    letter-spacing: .05vw;
}

.id-card{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: .25vw;
    font-size: .7vw;
    margin-top: auto;
    width: 100%;
    color: grey;
}

.container-transactions{
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    overflow: hidden;
}

.title-transactions{
    animation: fadeInDown .25s;
    width: 50%;
    font-family: normal;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
    font-size: 1.2vw;
    letter-spacing: .1vw;
    padding: .5vw;
    border-bottom: .1vw solid rgba(128, 128, 128, 0.404);
}

.container-items-transactions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 80%;
    background-color: rgba(248, 248, 248, 0.027);
    padding: .5vw .8vw;
    gap: .32vw;
    border-radius: .2vw;
    overflow-y: auto;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
}

.item-transaction{
    opacity: 0;
    display: flex;
    align-items: center;
    width: 100%;
    padding: .5vw .35vw;
    background-color: rgba(150, 29, 29, 0.322);
    color: white;
    font-family: light;
    font-size: .7vw;
    border-radius: .1vw;
    animation: fadeInDown .25s .2s forwards;
    gap: .35vw;
}

.title-item{
    width: 60%;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-type{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1vw;
    height: 1vw;
    padding: .25vw;
    border-radius: .25vw;
}

.add_type{
    background-color: rgb(36, 146, 36);
    box-shadow: 0 0 .25vw rgb(36, 146, 36);
}

.remove_type{
    background-color: rgb(146, 36, 36);
    box-shadow: 0 0 .25vw rgb(146, 36, 36);
}

.amount-info{
    width: 30%;
    margin-left: auto;
    margin-right: .5vw;
    color: rgb(61, 221, 61);
    letter-spacing: .1vw;
    text-align: end;
}

.other-info{
    color: grey;
}

.date-item{
    width: 15%;
    color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25vw;
}

.container-pin{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5vw;
    justify-content: space-evenly;
    width: 18vw;
    height: 15vw;
    padding: .4vw;
    background-color: var(--black-color);
    box-shadow: 0 0 .25vw var(--black-color);
    border-radius: 1vw;
    zoom: 80%;
}

.title-pin{
    margin-top: .5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 40%;
    background-color: rgba(182, 58, 58, 0.144);
    border-radius: 1vw;
}

.title-pin img{
    width: 100%;
    height: 100%;
    scale: .8;
    filter: drop-shadow(0 0 .25vw rgba(196, 54, 54, 0.911));
}

.password {
    height: 15%;
    text-align: center;
    background-color: var(--grey-color);
    color: rgba(255, 255, 255, 0.356);
    border: .1vw solid rgba(128, 128, 128, 0.151);
    border-radius: .5vw;
    width: 65%;
    font-size: 1.5vw;
    outline: none;
    font-family: light;
    letter-spacing: 0.9em;
    text-align: center;
    text-indent: 0.9em;
}

.button-enter-pin{
    width: 50%;
    background-color: rgba(201, 47, 47, 0.11);
    font-family: normal;
    padding: .5vw;
    border-radius: .5vw;
    color: var(--white-color);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2vw;
    font-size: .85vw;
    transition: .25s;
}

.button-enter-pin:hover{
    cursor: pointer;
    scale: 1.1;
    background-color: var(--red-color);
    box-shadow: 0 0 .3vw var(--red-color);
}

.container-dialog{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22vw;
    height: 10vw;
    border-radius: 1vw;
    background-color: var(--black-color);
    box-shadow: 0 0 .3vw var(--black-color);
}

.title-dialog{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: normal;
    text-transform: uppercase;
    color: var(--white-color);
    height: 2.5vw;
    font-size: 1vw;
    letter-spacing: .15vw;
    border-bottom: .1vw solid rgba(128, 128, 128, 0.11);
}

.container-pay-methods{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.item-method{
    display: flex;
    gap: 1vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    width: 40%;
    height: 80%;
    background-color: rgba(172, 28, 28, 0.274);
    box-shadow: 0 0 .25vw rgba(172, 28, 28, 0.274);
    color: rgb(175, 174, 174);
    font-family: light;
    letter-spacing: .1vw;
    border-radius: .5vw;
    font-size: .7vw;
    transition: .2s ease-in-out;
}

.item-method i{
    font-size: 2vw;
}

.item-method:hover{
    cursor: pointer;
    background-color: var(--red-color);
    box-shadow: 0 0 .3vw var(--red-color);
}

.show{
    animation: fadeInUp .3s forwards;
}

.hide{
    animation: fadeOutDown .3s forwards;
}

.error{
    animation: shakeX 1s forwards;
}

.success{
    background-color: rgb(36, 146, 36);
    box-shadow: 0 0 .25vw rgb(36, 146, 36);
}